.slideDisplayWrapper {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	background-color: rgb(201, 201, 201);
	align-self: center;
	overflow: hidden;
}

.image {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
}

.slideDisplayControl {
	z-index: 2;
	width: 25%;
	height: 100%;
	cursor: pointer;
}

#linkWrapper {
	position: absolute;
	width: 100%;
	height: 100%;
}

#slideDisplayControl-L:hover {
	background-color: rgba(255, 255, 255, 0.2);
	background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 100%);
}

#slideDisplayControl-R:hover {
	background-color: rgba(255, 255, 255, 0.2);
	background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 100%);
}
