#carouselIndicator {
	min-width: 100px;
	height: 50px;
	background-color: rgba(41, 41, 41, 0.25);
	border-radius: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 7px;
	position: absolute;
	padding-left: 10px;
	padding-right: 10px;
}

.dot {
	background: white;
	width: 10px;
	height: 10px;
	border-radius: 50%;
}
