services:
  backend:
    depends_on:
      - db  
    image: unstable_backend 
    ports:
      - 9999:9999
    volumes:
      - ./backend/app:/app 

  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_PASSWORD: changeme
      POSTGRES_USER: changeme
      POSTGRES_DB: db
    ports:
      - 5432:5432
 
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

  upload-page:
    image: unstable-upload-page
    restart: always
    ports:
      - 7777:7777
    volumes:
      - ./upload-page/app:/app
