main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

#artistInfoWrapper {
	display: flex;
	align-self: flex-start;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-self: center;
	margin-right: 100px;
}

#artistInfo {
	display: flex;
	flex-direction: column;
	flex-grow: 0;
}

#mixesTitle {
	text-align: center;
	font-size: xx-large;
}

#mixPanelWrapper {
	align-self: center;
	width: 1425px;
}

#mainWrapper {
	display: flex;
	flex-direction: row;
	align-self: center;
	margin-bottom: 300px;
}
