.searchBarsWrapper {
	display: flex;
	justify-content: space-evenly;
}

.visuals {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.searchBarsWrapper {
	margin-top: 45px;
	margin-bottom: 45px;
}

.mixPanelWrapper {
	display: flex;
	align-items: start;
	flex-direction: row;
	justify-content: space-between;
	align-self: flex-start;
	/* margin-right: 200px; */
	/* margin-left: 200px; */
}

#leftSide {
	width: 100%;
}

@media screen and (max-width: 850px) {
	.rightSide {
		display: none;
	}

	.mixPanelWrapper {
		margin-right: 0px;
	}
}
