#MixUploadForm {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}


h1 {
	font-size: 60;
}

input {
	margin-bottom: 20px;
}

button {
	background-color: grey;
	padding: 20px;
}
