#AudioInfo {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	font-size: smaller;
	width: 200px;
	overflow: wrap;
	margin-left: 2px;
	margin-right: 2px;
}

#picture {
	height: 30px;
	width: 30px;
}

.propText {
	width: 100px;
}
