#BottomAudioControlBar {
	z-index: 100;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;

	background-color: #181818;
	opacity: 0.9;

	/* Keep the Audio Controller at the bottom of the page. */
	position: fixed;
	bottom: 0;
	width: 100%;
}

#controlsWrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 50px;
}

.playControlsWrapper {
	display: flex;
	flex-direction: row;
	gap: 5px;
	align-items: center;
}

.audioInfoCSS {
	justify-self: left;
	text-align: center;
}
