main {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

#artistInfoWrapper {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 15px;
}

#artistInfo {
	display: flex;
	flex-direction: column;
	flex-grow: 0;
}

#mixesTitle {
	text-align: center;
	font-size: xx-large;
}

#description {
	display: flex;
	flex-direction: column;
}

#selectedMixWrapper {
	display: flex;
	flex-direction: column;
	margin-bottom: 300px;
	width: 80%;
}

#topInfo {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font-size: 25px;
	margin-bottom: 5px;
}

#title {
	margin-bottom: 0;
}
