:root {
    --ROUNDED-CORNERS: 25px;
}

.mixCard {
    display: flex;
    width: 300px;
    height: 300px;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px;
}

.mixCard:hover {
    cursor: pointer;
    /*animation: grow 1s ease-in forwards;*/
}

.bottomInfo {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding-left: 5px;
    padding-right: 5px;
    visibility: hidden;
    border-bottom-right-radius: var(--ROUNDED-CORNERS);
    border-bottom-left-radius: var(--ROUNDED-CORNERS);
    bottom: 0;
    width: 100%;
    background-color: rgba(82, 82, 82, 0.493);
		background: linear-gradient(180deg,rgba(255, 255, 255, 0) 0%, rgba(112, 112, 112, 0.5) 30%, rgba(77, 77, 77, 0.7) 100%);
}

.mixCardPlayPauseButton {
    display: flex;
    justify-self: center;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    color: rgb(236, 236, 236);
}

.imageWrapper {
    height: 100%;
    width: 100%;
    z-index: 1;
    justify-content: center;
}

#playPauseImage {
    z-index: 1;
}

#image {
    border-radius: var(--ROUNDED-CORNERS);
    background-size: cover;
}

.bottomInfoLeft {
    margin-left: 10px;
}

.bottomInfoRight {
    margin-right: 10px;
}

/*@keyframes grow {
    0% {
        width: 300px;
        height: 300px;
    }

    100% {
        width: 350px;
        height: 350px;
    }
}*/
